
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
 background-color: #74c69d;
  color: white;
  font-family: 'Comic Neue', cursive;
}
.App{
min-height:100vh;
background-color:#52b788;
margin: 30px 40px 40px 40px;
border-radius:20px;
}
header h1 {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

header,
form {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input{
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
form input,
form button {
  padding: 0.6rem;
  font-size: 0.9rem;
  border: none;
  outline:none;
  background: white;
 
}
form button {
  color: #fff;
  background: #1b4332;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #95d5b2;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 50%;
  max-width:70%;
  list-style: none;
 
}

.todo {
  margin: 0.5rem;
  background:#40916c;
  font-size: 1rem;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 0.5rem;
}
.todo li {
  flex: 1;
}

.trash-button,
.complete-button {
 
  background:#1b4332;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 0.7rem;
}
.complete-button {
  background:#74c69d;
  color: white;
}

.complete-button:hover {
  background: #d8f3dc;
  color: #74c69d;
}
.trash-button:hover {
  background: #b7e4c7;
  color: #1b4332;
}
.todo-item {
  padding: 0rem 0.5rem;
 
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: black;
  cursor: pointer;
  width: 8.5rem;
  font-family: 'Comic Neue', cursive;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  font-size: 0.9rem;
  top: -7px;
  right: 0;
  padding: 1rem;
  background:#1b4332;
  cursor: pointer;
  pointer-events: none;
}
.select:hover {
  
  color: #52b788;
}


/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/